.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: var(--main-content-padding);
}

.project__card {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
}

.project__card-left {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 80%;
  height: 240px;
  z-index: 5;
}

.project__card-left h5 {
  font-size: 16px;
  color: var(--tertiary);
}

.project__card-left h2 {
  font-size: 34px;
  color: var(--foreground-title);
  margin-bottom: 16px;
}

.project__card-right {
  height: 300px;
  min-width: 46%;
  position: absolute;
  border-radius: 10px;
  right: 0;
  background-color: var(--deep-background);
  overflow: hidden;
}

.project__card-right img {
  width: 84%;
  height: 84%;
  position: absolute;
  bottom: 0px;
  right: 0;

  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
