.container {
  padding: var(--main-content-padding);
  margin-bottom: 80px;
  font-family: var(--special-font);
}

.container p:nth-child(1) {
  font-size: 50px;
}

.container p:nth-child(2) {
  font-size: 21px;
}

.container p:nth-child(3) {
  margin-top: 26px;
  font-size: 22px;
}
