.container {
  padding: var(--main-content-padding);
  display: flex;
  align-items: center;
  height: 113px;
  justify-content: space-between;

  background-color: var(--secondary);

  margin-bottom: 140px;
}

.container ul {
  display: flex;
  gap: 30px;
}
